body {
  background-color: #fffaed;
  font-family: "Mooli", sans-serif;
}
a {
  color: #ff9c2a;
}
.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

header {
  border-bottom: solid 1px #e8e8e8;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #fffaed;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  width: 80%;
  padding: 15px 20px;
}
.search-form-button {
  background-color: #ff9c2a;
  padding: 15px 30px;
  border: none;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
  font-size: 15px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}
.weather-app-details strong {
  color: #b6c64e;
}

.weather-app-temperature-container {
  display: flex;
}
.weather-app-emoji {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  margin-top: 20px;
  text-align: center;
  color: black;
  justify-content: space-around;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-icon {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperature-max {
  font-weight: bolder;
  color: #ff9c2a;
}
.weather-forecast-temperature-min {
  font-size: 15px;
  font-weight: lighter;
  color: #b6c64e;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
